<% tab "juridical_people" %>
<p id="notice"><%= notice %></p>
<ul class="list-group">
  <li class="list-group-item">
    <div class="row">
      <div class="col-lg-1">
        <b>Cnpj:</b>
      </div>
      <div class="col-lg-10">
        <%= @juridical_person.cnpj %>
      </div>
    </div>
  </li>
  <li class="list-group-item">
    <div class="row">
      <div class="col-lg-1">
        <b>Name:</b>
      </div>
      <div class="col-lg-10">
        <%= @juridical_person.name %>
      </div>
    </div>
  </li>
  <li class="list-group-item">
    <div class="row">
      <div class="col-lg-1">
        <b>Address:</b>
      </div>
      <div class="col-lg-10">
        <%= @juridical_person.address %>
      </div>
    </div>
  </li>
  <li class="list-group-item">
    <div class="row">
      <div class="col-lg-1">
        <b>Account:</b>
      </div>
      <div class="col-lg-10">
        <% if @juridical_person.account %>
          <%= link_to @juridical_person.account.name , @juridical_person.account%>
        <% else %>
          <%= "Nenhuma conta associada"%>
        <% end %>
      </div>
    </div>
  </li>
</ul>

<h4><span class="label label-success"><%= link_to 'Edit', edit_juridical_person_path(@juridical_person) %></span>
  <span class="label label-default"><%= link_to 'Back', juridical_people_path%></span>
</h4>
