<% tab "users" %>

<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @user.name %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<p>
  <b>Birthday:</b>
  <%=  @user.birthday.strftime("%d/%m/%Y") %>
</p>

<p>
  <b>Accounts:</b>

  <% @user.accounts.each do |account| %>
    <br />
    <%= link_to account.name, account %>
  <% end %>
  <% if @user.accounts.blank? %>
    <%= "Nenhuma conta associada" %>
  <% end %>

</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
