<% tab "users" %>

<p id="notice"><%= notice %></p>

<ul class="list-group">

  <li class="list-group-item">
    <div class="row">
      <div class="col-lg-1">
        <b>Name:</b>
      </div>
      <div class="col-lg-10">
        <%= @user.name %>
      </div>
    </div>
  </li>
  <li class="list-group-item">
    <div class="row">
      <div class="col-lg-1">
        <b>Email:</b>
      </div>
      <div class="col-lg-10">
        <%= @user.email %>
      </div>
    </div>


  </li>
  <li class="list-group-item">
    <div class="row">
      <div class="col-lg-1">
        <b>Birthday:</b>
      </div>
      <div class="col-lg-10">
        <%=  @user.birthday.strftime("%d/%m/%Y") %>
      </div>
    </div>

  </li>
  <li class="list-group-item">
    <div class="row">
      <div class="col-lg-1">
        <b>Accounts:</b>
      </div>
      <div class="col-lg-10">
        <% @user.accounts.each do |account| %>
          <br />
          <%= link_to account.name, account %>
        <% end %>
        <% if @user.accounts.blank? %>
          <%= "Nenhuma conta associada" %>
        <% end %>
      </div>
    </div>
  </li>
</ul>


<h4><span class="label label-success"><%= link_to 'Edit', edit_user_path(@user)  %></span>
  <span class="label label-default"><%= link_to 'Back', users_path%></span>
</h4>

