<!DOCTYPE html>

<html>
<head>
  <title>SimpleApp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>


<ul class="nav nav-tabs">
  <li class= <%="active" if @page_tab == "users" %> ><%= link_to 'Usuários', users_path %></li>
  <li class= <%="active" if @page_tab == "accounts" %> ><%= link_to 'Contas', accounts_path %></li>
  <li class= <%="active" if @page_tab == "juridical_people" %> ><%= link_to 'Pessoas Juridicas', juridical_people_path %></li>
</ul>

<%= yield %>

</body>
</html>
