<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @account.name %>
</p>

<p>
  <b>Users:</b>
  <% @account.users.each do |user| %>
    <br /><%=link_to user.name, user %>
  <% end %>
  <% if @account.users.blank? %>
    <%= "Nenhum usuário associado" %>
  <% end %>
</p>

<p>
  <b>Jurical People:</b>
  <% @account.juridical_people.each do |juridical_person| %>
    <br /><%=link_to juridical_person.name, juridical_person %>
  <% end %>
  <% if @account.users.blank? %>
    <%= "Nenhuma pessoa jurica associada" %>
  <% end %>
</p>

<p>
  <b>Expiration date:</b>
  <%= @account.expiration_date.strftime("%d/%m/%Y") %>
</p>


<%= link_to 'Edit', edit_account_path(@account) %> |
<%= link_to 'Back', accounts_path %>
