<% tab "accounts" %>
<p id="notice"><%= notice %></p>
<ul class="list-group">
  <li class="list-group-item">
    <div class="row">
      <div class="col-lg-1">
        <b>Name:</b>
      </div>
      <div class="col-lg-10">
        <%= @account.name %>
      </div>
    </div>
  </li>
  <li class="list-group-item">
    <div class="row">
      <div class="col-lg-1">
        <b>Users:</b>
      </div>
      <div class="col-lg-10">
        <% @account.users.each do |user| %>
          <br /><%=link_to user.name, user %>
        <% end %>
        <% if @account.users.blank? %>
          <%= "Nenhum usuário associado" %>
        <% end %>
      </div>
    </div>
  </li>
  <li class="list-group-item">
    <div class="row">
      <div class="col-lg-1">
        <b>Jurical People:</b>
      </div>
      <div class="col-lg-10">
        <% @account.juridical_people.each do |juridical_person| %>
          <br /><%=link_to juridical_person.name, juridical_person %>
        <% end %>
        <% if @account.users.blank? %>
          <%= "Nenhuma pessoa jurica associada" %>
        <% end %>
      </div>
    </div>
  </li>
  <li class="list-group-item">
    <div class="row">
      <div class="col-lg-1">
        <b>Expiration date:</b>
      </div>
      <div class="col-lg-10">
        <%= @account.expiration_date.strftime("%d/%m/%Y") %>
      </div>
    </div>
  </li>
</ul>

<h4><span class="label label-success"><%= link_to 'Edit', edit_account_path(@account)  %></span>
  <span class="label label-default"><%= link_to 'Back', accounts_path%></span>
</h4>
